<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="id.gobang.app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:exported="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/ic_logo2"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/ic_logo2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:icon"
        tools:targetApi="m">
        <activity android:name=".Activity.Tentang" />
        <activity android:name=".Activity.Pengantaran" />
        <activity android:name=".Activity.StatusBarangBukti" />
        <activity android:name=".Activity.SudahAmbil" />
        <activity android:name=".Activity.CaraPakai" />
        <activity android:name=".Activity.CaraBayar" />
        <activity android:name=".Activity.PosGiro" />
        <activity android:name=".Activity.Lacak" />
        <activity android:name=".Activity.Barcode" />
        <activity android:name=".Activity.Pembayaran"></activity>
        <activity android:name=".Activity.ValidasiData" />
        <activity android:name=".Activity.Pemesanan" />
        <activity android:name=".Activity.SplashScreen"
            android:theme="@style/AppTheme.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.DetailData" />
        <activity android:name=".Activity.WelcomeActivity" />
        <activity android:name=".Activity.MainActivity" />
    </application>

</manifest>